


.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.thumbnail {
    width: 100%;
}
/* 
    object-fit: cover/contain
    object-position: left/right/top/bottom
    =>> but width property is enough, because the height will follow accordingly to keep the shape, if set the height, it will stretch and break the share of image
*/

.thumbnails-row {
    margin-bottom: 8px;
    position: relative;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-author, 
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 700px){
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 701px) and (max-width: 999px){
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 600;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}
